
<app-sidenav></app-sidenav>
<div class="apply_loan">
    <form #serverForm="ngForm" (ngSubmit)="saveServer(serverForm)">
        <div class="modal-header">
            <h4 class="modal-title">Pay Loan</h4>
 
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Amount</label>
                <input type="text" ngModel name="ipAddress" class="form-control" required>
            </div>
          
         
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" id="closeModal" data-dismiss="modal">
                Cancel
            </button>
            <button type="submit" [disabled]="serverForm.invalid || (isLoading$ | async)"
                class="btn btn-success">
                <i *ngIf="isLoading$ | async" class="fas fa-spinner fa-spin"></i>
                <span *ngIf="isLoading$ | async">Saving...</span>
                <span *ngIf="!(isLoading$ | async)">Pay</span>
            </button>
        </div>
    </form>

</div>

